
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Calendar Work Event Scheduler</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{
        <a type="button" class="btn btn-primary" asp-action="OauthRedirect">Grant Google Calendar Privileges</a>
   
        <a type="button" class="btn btn-danger" asp-controller="OAuth" asp-action="Revoke">Revoke Google Calendar Privileges</a>
}